
<header class="app-header" style="height:100px;overflow: hidden">
        <div class="row p-2"  id="particles-js" >
                <div class="col-2" id="banner-emblem">
                        <img src="./assets/img/Emblem_of_Bhutan.png" style="width:80px;height:80px;">
                </div>
                <div class="col-8" id="banner-title">
                      <h2 class="text-dark">DEPARTMENT OF MINES AND GEOLOGY <br>Earthquake & Geophysics Division</h2>
                </div>
                <div class="col-2" id="flag">
                    <img src="./assets/img/flag.gif" class="float-right" style="width:80px;height:80px;">
                </div>
            </div>
</header>

<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        
        <a class="py-2 d-none d-md-inline-block active" routerLink="/map-health">State of Health</a>
        <a class="py-2 d-none d-md-inline-block" routerLink="/stations">Stations</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Maps</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Downloads</a>
        <a class="py-2 d-none d-md-inline-block" href="#">About</a>
    
    </div>
</nav>