<div class="col p-2">
    <div class="card">
        <div class="card-header p-2">
            <div class="row">
                <div class="col-md-10">
                    <h5><i class="fa fa-home mr-1"></i>Add Station</h5>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-success float-right" href="/stations" role="button">
                        <i class="fa fa-list-alt" title="Back to Stations List"></i>
                    </a>
                </div>
            </div>    
        </div>
            
        <div class="card-body" >
            <div class="form-group row m-1">
                <label for="code" class="col-sm-2  control-label">Station Code</label>
                <div class="col-sm-2">
                    <div class="input-group">
                         :&nbsp;
                         <input type="text" autocomplete="off" id="code" name="code"  style="font-weight: bold" 
                         required maxlength="4"
                         [(ngModel)]="station.code" #code="ngModel" class="form-control form-control-sm form-control-sm">
                        
                        
                    </div>
                    <div *ngIf="code.touched && !code.valid" class="alert alert-danger ml-2 mr-1 mt-1 row" style="width:250px">
                        <span *ngIf="code.errors.required">Station Code is required</span>
                    </div>
                </div>
               
            </div>
            <div class="form-group  row m-1">
                <label for="name" class="col-sm-2  control-label">Station Name</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        :&nbsp;<input type="text" autocomplete="off" id="name" name="name" 
                        required maxlength="50"
                        [(ngModel)]="station.name" #name="ngModel" class="form-control form-control-sm">
                    </div>
                    <div *ngIf="name.touched && !name.valid" class="alert alert-danger ml-2 mr-1 mt-1 row" style="width:250px">
                        <span *ngIf="name.errors.required">Station Name is required</span>
                    </div>
                </div>
            </div>
            <div class="form-group  row m-1">
                <label for="mac" class="col-sm-2  control-label">MAC Address</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        :&nbsp;<input type="text" autocomplete="off" id="mac" name="mac" 
                        required maxlength="17"
                        [(ngModel)]="station.mac" #mac="ngModel" class="form-control form-control-sm">
                    </div>
                    <div *ngIf="mac.touched && !mac.valid" class="alert alert-danger ml-2 mr-1 mt-1 row" style="width:250px">
                        <span *ngIf="mac.errors.required">MAC Address is required</span>
                    </div>
                </div>
            </div>
            <div class="form-group  row m-1">
                <label for="location" class="col-sm-2  control-label">Location</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        :&nbsp;<input type="textarea" autocomplete="off" id="location" name="location" 
                        required maxlength="50"
                        [(ngModel)]="station.location" #location="ngModel" class="form-control form-control-sm">
                    </div>
                    <div *ngIf="location.touched && !location.valid" class="alert alert-danger ml-2 mr-1 mt-1 row" style="width:250px">
                        <span *ngIf="location.errors.required">Location is required</span>
                    </div>
                </div>

            </div>
            <div class="form-group  row m-1">
                <label for="latitude" class="col-sm-2  control-label">Latitude</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        :&nbsp;<input type="number" autocomplete="off" id="latitude" name="latitude" 
                        required
                        [(ngModel)]="station.latitude" #latitude="ngModel" class="form-control form-control-sm">
                    </div>
                    <div *ngIf="latitude.touched && !latitude.valid" class="alert alert-danger ml-2 mr-1 mt-1 row" style="width:250px">
                        <span *ngIf="latitude.errors.required">Latitude is required</span>
                    </div>
                </div>
            </div>
            <div class="form-group  row m-1">
                <label for="longitude" class="col-sm-2  control-label">Longitude</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        :&nbsp;<input type="number" autocomplete="off" id="longitude" name="longitude" 
                        required
                        [(ngModel)]="station.longitude" #longitude="ngModel" class="form-control form-control-sm">
                    </div>
                    <div *ngIf="longitude.touched && !longitude.valid" class="alert alert-danger ml-2 mr-1 mt-1 row" style="width:250px">
                        <span *ngIf="longitude.errors.required">Longitude is required</span>
                    </div>
                </div>
            </div>
            <div class="form-group  row m-1">
                <label for="elevation" class="col-sm-2  control-label">Elevation</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        :&nbsp;<input type="number" autocomplete="off" id="elevation" name="elevation" 
                        required maxlength="5"
                        [(ngModel)]="station.elevation" #elevation="ngModel" class="form-control form-control-sm">
                    </div>
                    <div *ngIf="elevation.touched && !elevation.valid" class="alert alert-danger ml-2 mr-1 mt-1 row" style="width:250px">
                        <span *ngIf="elevation.errors.required">Elevation is required</span>
                    </div>
                </div>
            </div>
            <div class="form-group  row m-1">
                <label for="inputDate" class="col-sm-2  control-label">Date Installed</label>
                <div class="col-sm-2">
                    <div class="input-group">
                        :&nbsp;<input type="date" autocomplete="off" class="form-control form-control-sm" id="inputDate" name="inputDate"
                        required  
                        [(ngModel)] = "station.date_installed" #inputDate="ngModel">
                    </div>
                    <div *ngIf="inputDate.touched && !inputDate.valid" class="alert alert-danger ml-2 mr-1 mt-1 row" style="width:250px">
                        <span *ngIf="inputDate.errors.required">Date Installed is required</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button type="button" class="btn btn-sm btn-primary"  (click)="AddStation()" >
                <i class="fa fa-save" title="Save Station"></i> Save
            </button>
        </div>
                
              
    </div>
    
</div>

